apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: <product>-rd
  namespace: actions-runner-system
spec:
  replicas: 1
  template:
    spec:
      organization: chekdata
      labels:
        - self-hosted
        - vecr
        - beijing
        - <product>
      image: chek-images-cn-beijing.cr.volces.com/devops/summerwind-actions-runner:latest
      imagePullSecrets:
        - name: vecr-auth
      dockerEnabled: true
      dockerdWithinRunnerContainer: true
      env:
        - name: RUNNER_EPHEMERAL
          value: "false"
        - name: DISABLE_RUNNER_UPDATE
          value: "true"

