apiVersion: v1
kind: Pod
metadata:
  name: pvc-debug
  namespace: prod
spec:
  containers:
    - name: debug
      image: busybox:1.36
      command: ["sh", "-c", "sleep 360000"]
      volumeMounts:
        - name: data
          mountPath: /data/osm
  volumes:
    - name: data
      persistentVolumeClaim:
        claimName: osm-data-pvc

