name: build-yapi

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to VECR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_ENDPOINT }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./tools/yapi
          push: true
          provenance: false
          sbom: false
          tags: |
            ${{ secrets.REGISTRY_ENDPOINT }}/devops/yapi:1.10.2
            ${{ secrets.REGISTRY_ENDPOINT }}/devops/yapi:sha-${{ github.sha }}


